@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F6F1E7;
    color: #1B2140;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
